<form asp-controller="Fish" asp-action="Add" method="post">
    Name: <input type="text" name="name" /><br />
    Sea Fish: <input type="checkbox" name="isSeaFish" value="true" /><br />
    Price (€): <input type="number" name="price" /><br />
    <button>Submit</button>
</form>