@model Fish

<form asp-controller="Fish" asp-action="Add" method="post">
    Name: <input type="text" asp-for="@Model.Name" /><br />
    Sea Fish: <input type="checkbox" asp-for="@Model.IsSeaFish" value="true" /><br />
    Price (€): <input type="number" asp-for="@Model.Price" /><br />
    <button>Submit</button>
</form>